.oAuthButtonContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width:100%;
    height: 80vh;
}
.oAuthButton {
}

.gradient {
    margin-top: 90vh;
    position: absolute;
    /* font-size: 1em;
    background: -webkit-linear-gradient(#79081c, #ff9e01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}