.lobbyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 15%;
    width: 70%;
    height: 100%;
}
